/* Page-specific styling */

#content-main {
    bottom: 0; /* No footer.  Content should take up all available space*/
}

#settings-button {
    background-image: url("../../Images/Settings.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.notice {
    padding: 10px 10px 25px 10px;
    border: 2px solid black;
}


/* Formatting for the sample visualization */

.visualization {
    padding-bottom: 7px;
    padding-right: 10px;
}

    .visualization td {
        padding-bottom: 5px;
    }

.bar {
    background: darkgreen;
    color: white;
    text-align: center;
    display: inline-block;
}
